@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Arvo';
body {
    /*background-image: url(../images/serious_play_30op.jpg), url(../images/Cocaine_Unwrapped_Poster_SM_web.jpg);
    background-repeat:no-repeat;
    background-size:contain;*/
    
    text-align: center;
    font-family: 'Arvo', serif;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    background-color: black;
    margin: 2em 3em 0 3em;
}
nav {
    margin: auto;
    text-align: center;
}
nav a:link {
    font-family: 'Allerta', sans-serif;
    color: #fff;
    padding: 0 32px;
    font-size: .8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: color ease-in-out .5s;
    -moz-transition: color ease-in-out .5s;
    -o-transition: color ease-in-out .5s;
    transition: color ease-in-out .5s;
    text-decoration: none;
}
nav a:visited {
    color: #fff;
}
nav a:hover {
    color: #ffff33;
}
nav a:active {
    color: #ffff33;
}
img {
    max-width: 100%;
    height: auto;
    padding: .5em;
    display: block;
    margin: 0 auto;
}
h1 {
    font-size: 3em;
    line-height: 40%;
}
h2 {
    font-size: 1em;
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .4em;
    font-weight: 300;
    color: #ffff33;
}
h3 {
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    border: .1em double;
    padding: .5em;
    display: inline-block;
}
ul {
    list-style: none;
    text-align: left;
    padding: 0;
    margin: 0;
}
li {
    padding-left: 1.5em;
}
li:before {
    content: "\2022";
    font-weight: 900;
    padding-right: .5em;
    color: #ffff33;
}
a {
    color: #ffff33;
}
a:hover {
    color: #B0B0B0;
}
label {
    font-family: 'Allerta', sans-serif;
    color: #fff;
    padding: 0 32px;
    font-size: .8em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: none;
}
#toggle {
    display: none;
}
#left {
    position: absolute;
    padding: 1.5em;
    float: left;
    width: 30%;
    text-align: left;
    font-weight: 800;
    line-height: 1.5em;
}
#right {
    padding: 1.5em;
    float: right;
    width: 62%;
    text-align: left;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.video {
    height: 0;
    width: 100%;
    padding-bottom: 50%;
    overflow: hidden;
    position: relative;
}
.video iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

#footer {
    padding: 1em 0em 5em 0em;
}

.pansy-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: black;
    padding: 10px 0;
    z-index: 1;
}

.top-space {
    height: 100px;
}

:target:before {
    content:"";
    display: block;
    height: 140px;
    margin: -140px 0 0;
}

@media only screen and (max-width: 768px) {
    #left {
        position: relative;
        padding: 0;
        float: none;
        text-align: center;
        width: 100%;
    }
    h1 {
        font-size: 2em;
        line-height: 40%;
    }
    ul {
        list-style: none;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    li {
        padding-left: 0;
    }
    #right {
        position: relative;
        padding: 0;
        float: none;
        text-align: center;
        width: 100%;
    }
    nav {
        display: none;
        margin: 15px 0;
    }
    nav a:link {
        display: block;
        margin: 2px;
    }
    label {
        display: block;
    }
    #toggle:checked + nav {
        display: block;
    }

    :target:before {
        height: 200px;
        margin: -200px 0 0;
    }

    .top-space {
        height: 20px;
    }
}